body {
    background-color:  #efefef;
}

.body-copy, nav {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.2;
}

h3 {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}