
/* universal styling of the contact page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #f38ba0bb;
}

html{
    font-size: 62%;
}
main{
    min-height: 60vh;
}
footer{
    min-height: 20vh;
    background-color: black;
}


header{
    text-align: center;
    min-height: 20vh;
}
/* styling the Form */



/* styling for hours table */

table {

}


/*Footer css code*/

/*The links at the bottom of the footer shouldnt be stacked up and placed at the bottom of the page*/

.contact-footer {
    

}

.copyright {
   
}